<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HearThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HearThis.Properties.Settings>
            <setting name="Project" serializeAs="String">
                <value />
            </setting>
            <setting name="Book" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Chapter" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Block" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublishRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakLinesAtClauses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVersionLaunched" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveMode" serializeAs="String">
                <value>Administrative</value>
            </setting>
            <setting name="AllowAdministrativeMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowNormalRecordingMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClauseBreakCharacters" serializeAs="String">
                <value>, ; :</value>
            </setting>
            <setting name="BreakQuotesIntoBlocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceChevronsWithQuotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublishAudioFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishVerseIndexFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishCurrentBookOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalBlockBreakCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBundleDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSpecifiedParatextProjectsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </HearThis.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
