<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HearThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HearThis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HearThis.Properties.Settings>
            <setting name="Project" serializeAs="String">
                <value />
            </setting>
            <setting name="Book" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Chapter" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Block" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublishRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInterfaceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakLinesAtClauses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVersionLaunched" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveMode" serializeAs="String">
                <value>Administrative</value>
            </setting>
            <setting name="AllowAdministrativeMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowNormalRecordingMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClauseBreakCharacters" serializeAs="String">
                <value>, ; :</value>
            </setting>
            <setting name="BreakQuotesIntoBlocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PublishAudioFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishVerseIndexFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishCurrentBookOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalBlockBreakCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBundleDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserSpecifiedParatext8ProjectsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Actor" serializeAs="String">
                <value />
            </setting>
            <setting name="Character" serializeAs="String">
                <value />
            </setting>
            <setting name="UserColorScheme" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DisplayNavigationButtonLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRecordingMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AllowDisplayOfShiftClipsMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartingToChangeColorScheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentMode" serializeAs="String">
                <value>ReadAndRecord</value>
            </setting>
            <setting name="EnableCheckForProblemsViewInProtectedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalClipEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalClipEditorName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalClipEditorArguments" serializeAs="String">
                <value />
            </setting>
        </HearThis.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
        <!-- Now that we're using nuget to manage dependencies, hopefully none of this commented out stuff will ever be needed again.-->
        <!-- This is needed only when HearThis is using a newer (nostrongname) version of libpalaso than ParatextData (see similar comments in HearThis.csproj and Installer.wxs)
      <dependentAssembly>
        <assemblyIdentity name="SIL.WritingSystems" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <codeBase version="0.0.0.0" href="SIL.WritingSystems.dll" />
        <codeBase version="4.2.0.0" href="PTDataDependencies\SIL.WritingSystems.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
          <codeBase version="0.0.0.0" href="SIL.Core.dll" />
        <codeBase version="4.2.0.0" href="PTDataDependencies\SIL.Core.dll" />
      </dependentAssembly>
      -->
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.16.0.0" newVersion="1.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
      <add key="CoreProductName" value="HearThis" />
  </appSettings>
  <applicationSettings>
    <HearThis.Properties.Settings>
      <setting name="CurrentDataVersion" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CurrentSkippedLinesVersion" serializeAs="String">
        <value>2</value>
      </setting>
    </HearThis.Properties.Settings>
  </applicationSettings>
</configuration>
