<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Analytics" version="3.0.0" targetFramework="net461" />
  <package id="DesktopAnalytics" version="1.2.4.11" targetFramework="net461" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net461" />
  <package id="icu.net" version="2.5.4" targetFramework="net461" />
  <package id="Icu4c.Win.Min" version="59.1.7" targetFramework="net461" />
  <package id="L10NSharp" version="4.0.2" targetFramework="net461" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net4-client" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.0.0" targetFramework="net461" />
  <package id="NAudio" version="1.9.0" targetFramework="net461" />
  <package id="NDesk.DBus" version="0.15.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="ParatextData" version="9.0.3" targetFramework="net461" />
  <package id="SIL.Core" version="7.0.0" targetFramework="net461" />
  <package id="SIL.Core.Desktop" version="7.0.0" targetFramework="net461" />
  <package id="SIL.Media" version="7.0.0" targetFramework="net461" />
  <package id="SIL.Scripture" version="7.0.0" targetFramework="net461" />
  <package id="SIL.WritingSystems" version="7.0.0" targetFramework="net461" />
  <package id="Spart" version="1.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net461" />
</packages>