*.user
*.suo
output/
lib/net2.0/Palaso*
_ReSharper*

*.ncrunchsolution
obj/
build/Palaso.BuildTasks.dll
build/SIL.BuildTasks.dll
lib/dotnet/TestApp.pdb
*.orig
*.ncrunchproject
*.crunchsolution.cache
lib/dotnet/L10NSharp*.*
packages/
.nuget/NuGet.exe
src/HearThis/HearThis.csproj.DotSettings
lib/dotnet/SIL.*.dll
lib/dotnet/SIL.*.pdb
lib/dotnet/Ionic.Zip.dll
lib/dotnet/ICSharpCode.SharpZipLib.dll
lib/dotnet/icu*.dll
lib/dotnet/*.pdb
lib/dotnet/NetSparkle.Net40.dll
lib/dotnet/irrKlang.NET4.dll
