<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.4" targetFramework="net461" />
  <package id="icu.net" version="2.6.0" targetFramework="net461" />
  <package id="Icu4c.Win.Full.Lib" version="59.1.15" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Win32.SystemEvents" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Windows.Compatibility" version="3.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.11.1" targetFramework="net472" />
  <package id="ParatextData" version="9.1.1-beta" targetFramework="net461" />
  <package id="SIL.Core" version="8.0.0-beta0077" targetFramework="net472" />
  <package id="SIL.Scripture" version="8.0.0-beta0032" targetFramework="net461" />
  <package id="SIL.WritingSystems" version="8.0.0-beta0077" targetFramework="net472" />
  <package id="Spart" version="1.0.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Odbc" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.OleDb" version="4.7.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.0" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.7.0" targetFramework="net472" />
  <package id="System.DirectoryServices" version="4.7.0" targetFramework="net472" />
  <package id="System.DirectoryServices.AccountManagement" version="4.7.0" targetFramework="net472" />
  <package id="System.DirectoryServices.Protocols" version="4.7.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net472" />
  <package id="System.IO.Pipes.AccessControl" version="4.5.1" targetFramework="net461" />
  <package id="System.IO.Ports" version="4.7.0" targetFramework="net472" />
  <package id="System.Management" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.Duplex" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.NetTcp" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.Security" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceModel.Syndication" version="4.7.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>