<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I  LD_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes) -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>

<!-- * means auto-generate a new guid each time. This is "a unique identifier for the particular product release" -->
<?define Property_ProductCode = "*" ?>

<!--Don't even think of EVER changing this, despite the counter-intuitive name. What it is: "a shared identifier that represents multiple versions of an application" -->
<?define Property_UpgradeCode = "{39CB2413-CFED-4E7A-8F39-14AF94C73043}" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="$(var.Property_ProductCode)" Name="HearThis $(var.Property_ProductVersion)" Language="1033"
			 Version="$(var.Property_ProductVersion)" Manufacturer="SIL"
			 UpgradeCode="$(var.Property_UpgradeCode)">

	<Package  Compressed="yes" InstallerVersion="200" />

	<MajorUpgrade   Schedule="afterInstallInitialize"
  DowngradeErrorMessage="A later version of HearThis is already installed. If you really want to downgrade, first uninstall HearThis, then do this install again."/>

	<Upgrade Id ="$(var.Property_UpgradeCode)" >
	  <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
	  <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
	</Upgrade >

	<!-- show the license page -->
	<UIRef Id="WixUI_Minimal"/>
	<!-- Top banner / 493 × 58 -->
	<WixVariable Id='WixUIBannerBmp' Value='installerBanner.jpg' />
	<!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
	<WixVariable Id='WixUIDialogBmp' Value='installerBackground.jpg' />
	<WixVariable Id="WixUILicenseRtf" Value="..\..\distfiles\License.rtf" />


	<!--
	"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

	<PropertyRef Id="NETFRAMEWORK40CLIENT" />
	<Condition Message="Before HearThis can install on older computers, you need to install Microsoft's free .NET Framework 4.0 (at least the small 'client profile'.  A full discussion of HearThis's requirements can be found at http://HearThis.palaso.org/download ">
	  Installed OR NETFRAMEWORK40CLIENT OR NETFRAMEWORK40FULL
	</Condition>

	<!--because of bug, this needs to be 1 -->
	<Property Id ="ALLUSERS">1</Property>

	<Directory Id="TARGETDIR" Name="SourceDir">

	  <Directory Id='ProgramMenuFolder' Name='Programs'>
		<Directory Id='HearThisShortcutDir' Name='HearThis'>
		  <Component Id ='removeShortcutDir' Guid ="{4a8e4910-1e91-1271-bf0d-f0def110cbd0}">
			<RemoveFolder Id ="shortcutDirRemover" On ="uninstall"/>
			<RegistryKey Id="keyPathForRemoveShortcutDir" Action ="createAndRemoveOnUninstall" Root="HKCU" Key="SOFTWARE\HearThis\Components\HearThisShortcutDir">
			  <RegistryValue Type ="string" Value =""  Action ="write" KeyPath ="yes"/>
			</RegistryKey>
		  </Component>

		</Directory>
	  </Directory>
	  <Directory Id="ProgramFilesFolder" Name="PFiles">

		<Directory Id="ProgramDir" Name="HearThis">

		  <Component Id="HearThis.exe" Guid="{68d68360-1e91-1271-bf0d-f0def110cbd0}">
			<Registry Root="HKCU" Key="SOFTWARE\HearThis\Components\HearThis.exe" KeyPath="yes" />

			<File Id="HearThis.exe" Name="HearThis.exe"  Source="..\..\output\release\HearThis.exe" />

			<Shortcut Id="startmenuShortcut"  Directory="HearThisShortcutDir" Name="HearThis"
				 WorkingDirectory="ProgramDir" Target="[!HearThis.exe]"  Icon ="HearThis.exe" />

		  </Component>

		  <Component Id="HearThis.pdb" Guid="{0A53DB83-741E-4060-9172-B6B1CFD79E25}">
			<File Id="HearThis.pdb" Name="HearThis.pdb" KeyPath="yes" Source="..\..\output\release\HearThis.pdb" />
		  </Component>

		  <Component Id="SIL.Core.dll" Guid="{479fdd82-7b56-47f4-ad23-710e72f1f9e5}">
			<File Id="SIL.Core.dll" Name="SIL.Core.dll" KeyPath="yes" Source="..\..\output\release\SIL.Core.dll" />
		  </Component>

		  <Component Id="SIL.Core.pdb" Guid="{e2b994af-ab55-443d-8c45-15ca9ba041d8}">
			<File Id="SIL.Core.pdb" Name="SIL.Core.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Core.pdb" />
		  </Component>

		  <Component Id="SIL.DblBundle.dll" Guid="{144D5F47-1F36-4494-B29C-8E759DFFAA6C}">
			<File Id="SIL.DblBundle.dll" Name="SIL.DblBundle.dll" KeyPath="yes" Source="..\..\output\release\SIL.DblBundle.dll" />
		  </Component>

		  <Component Id="SIL.DblBundle.pdb" Guid="{D490595B-6446-4755-932A-AF6FA629A07B}">
			<File Id="SIL.DblBundle.pdb" Name="SIL.DblBundle.pdb" KeyPath="yes" Source="..\..\output\release\SIL.DblBundle.pdb" />
		  </Component>

		  <Component Id="SIL.Scripture.dll" Guid="{17B9E4D0-B0F1-457B-8E57-B911099BC710}">
			<File Id="SIL.Scripture.dll" Name="SIL.Scripture.dll" KeyPath="yes" Source="..\..\output\release\SIL.Scripture.dll" />
		  </Component>

		  <Component Id="SIL.Scripture.pdb" Guid="{746A6ED3-B7E9-4A5B-84D0-8EB794A06ED3}">
			<File Id="SIL.Scripture.pdb" Name="SIL.Scripture.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Scripture.pdb" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.dll" Guid="{35566c03-ddab-473b-95dd-6f9c516966fb}">
			<File Id="SIL.Windows.Forms.dll" Name="SIL.Windows.Forms.dll" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.dll" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.pdb" Guid="{508b140a-d9ce-46b6-b4e7-a6c9f28f64be}">
			<File Id="SIL.Windows.Forms.pdb" Name="SIL.Windows.Forms.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.pdb" />
		  </Component>

		  <Component Id="SIL.Media.dll" Guid="{0DEE04DC-EF00-4815-AB10-D9F60E91826B}">
			<File Id="SIL.Media.dll" Name="SIL.Media.dll" KeyPath="yes" Source="..\..\output\release\SIL.Media.dll" />
		  </Component>

		  <Component Id="SIL.Media.pdb" Guid="{6FF09AFB-D76F-4C23-A2A3-CC41BDC5E5B9}">
			<File Id="SIL.Media.pdb" Name="SIL.Media.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Media.pdb" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.DblBundle.dll" Guid="{E97AC4E2-67D7-4EFF-9760-CB2FAED38893}">
			<File Id="SIL.Windows.Forms.DblBundle.dll" Name="SIL.Windows.Forms.DblBundle.dll" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.DblBundle.dll" />
		  </Component>

		  <Component Id="SIL.Windows.Forms.DblBundle.pdb" Guid="{7C07E346-BBDD-4959-9A32-CCB59350FB5D}">
			<File Id="SIL.Windows.Forms.DblBundle.pdb" Name="SIL.Windows.Forms.DblBundle.pdb" KeyPath="yes" Source="..\..\output\release\SIL.Windows.Forms.DblBundle.pdb" />
		  </Component>

		  <Component Id="SIL.WritingSystems.dll" Guid="{85235950-958E-4E3B-B4D2-6BBCCF204E19}">
			<File Id="SIL.WritingSystems.dll" Name="SIL.WritingSystems.dll" KeyPath="yes" Source="..\..\output\release\SIL.WritingSystems.dll" />
		  </Component>

		  <Component Id="SIL.WritingSystems.pdb" Guid="{C8ADB373-B251-4843-B2DB-B0C43E18EFC9}">
			<File Id="SIL.WritingSystems.pdb" Name="SIL.WritingSystems.pdb" KeyPath="yes" Source="..\..\output\release\SIL.WritingSystems.pdb" />
		  </Component>

		  <Component Id="Ionic.Zip.dll" Guid="{FE02B1D6-A51E-42B9-ACE8-87F4147EA900}">
			<File Id="Ionic.Zip.dll" Name="Ionic.Zip.dll" KeyPath="yes" Source="..\..\output\release\Ionic.Zip.dll" />
		  </Component>

		  <Component Id="NAudio.dll" Guid="{dc3a6400-1e93-1271-bf0d-f0def110cbd0}">
			<File Id="NAudio.dll" Name="NAudio.dll" KeyPath="yes" Source="..\..\output\release\NAudio.dll" />
		  </Component>

		  <Component Id="ParatextShared.dll" Guid="{e81a3f20-1e93-1271-bf0d-f0def110cbd0}">
			<File Id="ParatextShared.dll" Name="ParatextShared.dll" KeyPath="yes" Source="..\..\output\release\ParatextShared.dll" />
		  </Component>

		  <!-- Needed for ParatextShared -->
		  <Component Id="NetLoc.dll" Guid="{e0850600-1e93-1271-bf0d-f0def110cbd0}">
			<File Id="NetLoc.dll" Name="NetLoc.dll" KeyPath="yes" Source="..\..\output\release\NetLoc.dll" />
		  </Component>

		  <Component Id="NetLoc.XmlSerializers.dll" Guid="{e40f1720-1e93-1271-bf0d-f0def110cbd0}">
			<File Id="NetLoc.XmlSerializers.dll" Name="NetLoc.XmlSerializers.dll" KeyPath="yes" Source="..\..\output\release\NetLoc.XmlSerializers.dll" />
		  </Component>

		  <Component Id="Utilities.dll" Guid="{eefaa730-1e93-1271-bf0d-f0def110cbd0}">
			<File Id="Utilities.dll" Name="Utilities.dll" KeyPath="yes" Source="..\..\output\release\Utilities.dll" />
		  </Component>
		  <!-- End needed for ParatextShared -->

		  <Component Id="NetSparkle.Net40.dll" Guid="{40E72E64-04F2-4AE1-81A0-9A1A37EBA113}">
			<File Id="NetSparkle.Net40.dll" Name="NetSparkle.Net40.dll" KeyPath="yes" Source="..\..\output\release\NetSparkle.Net40.dll" />
		  </Component>

		  <!-- audio recording/playback engine used by SIL.Media -->
		  <Component Id="irrKlang.NET4.dll" Guid="{882F0A0C-F317-459f-A91C-55DE3D046B2C}">
			<File Id="irrKlang.NET4.dll" Name="irrKlang.NET4.dll" KeyPath="yes" Source="..\..\output\release\irrKlang.NET4.dll" />
		  </Component>

		  <!-- needed by irrKlang on some machines that don't have it  -->
		  <Component Id="msvcr100.dll" Guid="{A3634C1E-2183-4D27-93E5-CC598A7EAD8A}">
			<File Id="msvcr100.dll" Name="msvcr100.dll" KeyPath="yes" Source="..\..\lib\dotnet\msvcr100.dll" />
		  </Component>

		  <Component Id="DesktopAnalytics.dll" Guid="{CC30A246-0E27-4078-B37D-7795AB4DC5DA}">
			<File Id="DesktopAnalytics.dll" Name="DesktopAnalytics.dll" KeyPath="yes" Source="..\..\output\release\DesktopAnalytics.dll" />
		  </Component>

		  <Component Id="Analytics.NET.dll" Guid="{CCE33EFD-2843-4C40-B48A-A9C357A423C5}">
			<File Id="Analytics.NET.dll" Name="Analytics.NET.dll" KeyPath="yes" Source="..\..\output\release\Analytics.NET.dll" />
		  </Component>

		  <Component Id="Newtonsoft.Json.dll" Guid="{37337013-DFB8-4527-BC3D-09D6C5B574D9}">
			<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="..\..\output\release\Newtonsoft.Json.dll" />
		  </Component>

		  <Component Id="L10NSharp.dll" Guid="{40E16B2D-464F-4FD3-A2FB-CC1BE406169A}">
			<File Id="L10NSharp.dll" Name="L10NSharp.dll" KeyPath="yes" Source="..\..\output\release\L10NSharp.dll" />
		  </Component>

		  <Component Id="L10NSharp.pdb" Guid="{6425BB2D-BD24-41B4-A88B-5B3C30600AC0}">
			<File Id="L10NSharp.pdb" Name="L10NSharp.pdb" KeyPath="yes" Source="..\..\output\release\L10NSharp.pdb" />
		  </Component>

		  <Component Id="libgcc_s_sjlj1.dll" Guid="{99CEE7A2-8BD3-4C3D-BF6C-6D8FDC0360C7}">
			<File Id="libgcc_s_sjlj1.dll" Name="libgcc_s_sjlj-1.dll" KeyPath="yes" Source="..\..\output\release\libgcc_s_sjlj-1.dll" />
		  </Component>

		  <Component Id="libstdcplusplus6.dll" Guid="{AE4A8619-BB17-4728-B0DB-7CE88586E0AB}">
			<File Id="libstdcplusplus6.dll" Name="libstdc++-6.dll" KeyPath="yes" Source="..\..\output\release\libstdc++-6.dll" />
		  </Component>

		  <Component Id="TECkit_Compiler_x86.dll" Guid="{2A3AEBB8-BB09-426A-A333-7C85ADD7C750}">
			<File Id="TECkit_Compiler_x86.dll" Name="TECkit_Compiler_x86.dll" KeyPath="yes" Source="..\..\output\release\TECkit_Compiler_x86.dll" />
		  </Component>

		  <Component Id="TECkit_x86.dll" Guid="{2CB77B29-301C-467A-B08D-9B66B3E79049}">
			<File Id="TECkit_x86.dll" Name="TECkit_x86.dll" KeyPath="yes" Source="..\..\output\release\TECkit_x86.dll" />
		  </Component>

		  <Component Id="HearThis.exe.config" Guid="{72037B35-6581-45DE-B3C2-B8288214409A}">
			<File Id="HearThis.exe.config" Name="HearThis.exe.config" KeyPath="yes" Source="..\..\output\release\HearThis.exe.config" />
		  </Component>

		  <Component Id="MarkdownDeep.dll" Guid="{92a3ad97-2988-4631-802d-1b1f8f10ecc7}">
			<File Id="MarkdownDeep.dll" Name="MarkdownDeep.dll" KeyPath="yes" Source="..\..\output\release\MarkdownDeep.dll" />
		  </Component>
		</Directory>
	  </Directory>

	  <Directory Id="CommonAppDataFolder">
		<Directory Id="SILDir" Name="SIL">
		  <Directory Id="HearThisDir" Name="HearThis">
			<Component Id="CreateProgramDataFolder" Guid="{2FBF26CE-DC2D-4E5B-9C6A-ABA322D183DE}">
			  <CreateFolder>
				<util:PermissionEx User="Users" GenericAll="yes" />
			  </CreateFolder>
			</Component>
		  </Directory>
		</Directory>
	  </Directory>

	</Directory>

	<Feature Id="ProductFeature" Level="1" Title="Basic Stuff">

	  <ComponentRef Id ="removeShortcutDir"/>
	  <ComponentRef Id="HearThis.exe"/>
	  <ComponentRef Id="HearThis.exe.config"/>
	  <ComponentRef Id="HearThis.pdb"/>
	  <ComponentRef Id="SIL.Core.dll"/>
	  <ComponentRef Id="SIL.Core.pdb"/>
	  <ComponentRef Id="SIL.DblBundle.dll"/>
	  <ComponentRef Id="SIL.DblBundle.pdb"/>
	  <ComponentRef Id="SIL.Scripture.dll"/>
	  <ComponentRef Id="SIL.Scripture.pdb"/>
	  <ComponentRef Id="SIL.Windows.Forms.dll"/>
	  <ComponentRef Id="SIL.Windows.Forms.pdb"/>
	  <ComponentRef Id="SIL.Media.dll"/>
	  <ComponentRef Id="SIL.Media.pdb"/>
	  <ComponentRef Id="SIL.Windows.Forms.DblBundle.dll"/>
	  <ComponentRef Id="SIL.Windows.Forms.DblBundle.pdb"/>
	  <ComponentRef Id="SIL.WritingSystems.dll"/>
	  <ComponentRef Id="SIL.WritingSystems.pdb"/>
	  <ComponentRef Id="L10NSharp.dll"/>
	  <ComponentRef Id="L10NSharp.pdb"/>
	  <ComponentRef Id="libgcc_s_sjlj1.dll"/>
	  <ComponentRef Id="libstdcplusplus6.dll"/>
	  <ComponentRef Id="TECkit_Compiler_x86.dll"/>
	  <ComponentRef Id="TECkit_x86.dll"/>
	  <ComponentRef Id="MarkdownDeep.dll"/>
	  <ComponentRef Id="Ionic.Zip.dll"/>
	  <ComponentRef Id="NAudio.dll"/>
	  <ComponentRef Id="NetSparkle.Net40.dll"/>
	  <ComponentRef Id="NetLoc.dll"/>                  <!-- Needed for paratext access -->
	  <ComponentRef Id="NetLoc.XmlSerializers.dll"/>   <!-- Needed for paratext access -->
	  <ComponentRef Id="ParatextShared.dll"/>          <!-- Needed for paratext access -->
	  <ComponentRef Id="Utilities.dll"/>               <!-- Needed for paratext access -->
	  <ComponentRef Id="irrKlang.NET4.dll"/>
	  <ComponentRef Id="msvcr100.dll"/> <!-- needed by irrklang-->
	  <ComponentRef Id="Analytics.NET.dll"/>
	  <ComponentRef Id="DesktopAnalytics.dll" />
	  <ComponentRef Id="Newtonsoft.Json.dll"/>
	  <ComponentRef Id="CreateProgramDataFolder"/>
	  <ComponentGroupRef Id ="DistFiles"/>

	</Feature>
	<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
	<Icon Id="HearThis.exe" SourceFile ="..\..\output\release\HearThis.exe" />
	<Property Id="ARPPRODUCTICON" Value="HearThis.exe" />
	<!-- what you see in add/remove programs control panel -->



	<CustomAction Id="LaunchHearThis"
				  FileKey="HearThis.exe"
				  ExeCommand=" -afterInstall"
				  Return="asyncNoWait"/>

	<InstallExecuteSequence>
	  <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
		  <Custom Action='LaunchHearThis' After="InstallFinalize">NOT Installed</Custom>
		</InstallExecuteSequence>
  </Product>
</Wix>
