<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version and upgrade code. -->
<!-- This value should be B U I  LD_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes): -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>

<!-- This needs to match the one in Installer.wxs -->
<?define Property_UpgradeCode = "{39CB2413-CFED-4E7A-8F39-14AF94C73043}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

	<Bundle Name="HearThis $(var.Property_ProductVersion)" Version="$(var.Property_ProductVersion)"
    Manufacturer="SIL"
    AboutUrl="https://software.sil.org/hearthis/"
    IconSourceFile="..\..\..\src\HearThis\UI\HearThis.ico"
    UpgradeCode="$(var.Property_UpgradeCode)">

		<bal:Condition Message="Windows 7 or later is required. (32-bit Windows not supported)">(VersionNT64 &gt; v6.0)</bal:Condition>
		
		<util:RegistrySearch Root="HKLM"
			Key="SOFTWARE\Microsoft\VisualStudio\12.0\VC\Runtimes\x64"
			Variable="VCPLUSPLUS2013"
			Value="Installed"
			Result="value"/>
					 
		<BootstrapperApplicationRef
			Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseFile="..\..\..\distfiles\License.rtf"
				LogoFile ="logo.png"
				ShowVersion="yes"
				SuppressOptionsUI="yes"
				LaunchTarget="[ProgramFiles64Folder]HearThis\HearThis.exe"/>
		</BootstrapperApplicationRef>
		<Chain>
		
			<!-- use heat command to get RemotePayload attributes -->
			<!-- example: heat payload vc_redist.x64.exe -o x64.wxs -->
			
			<!-- The bundle already requires this InstallCondition="VersionNT64" -->
			
			<!-- Visual C++ 2013 Redistributable (x64) -->
			<ExePackage
				Id="vc_redist.x64.exe"
				Name="vc_redist.x64.12.0.30501.exe"
				DisplayName="Microsoft Visual C++ 2013 Redistributable (x64) - 12.0.30501"
				Cache="no"
				Compressed="no"
				PerMachine="yes"
				Permanent="yes"
				DetectCondition="VCPLUSPLUS2013"
				DownloadUrl="https://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x64.exe"
				InstallCommand="/install /quiet /norestart"
				RepairCommand="/repair /quiet /norestart"
				UninstallCommand="/uninstall /quiet /norestart" >
				<RemotePayload CertificatePublicKey="B78FE7F6917E1BC5F4A9C77BA3D555A0E807B9E0" CertificateThumbprint="67B1757863E3EFF760EA9EBB02849AF07D3A8080" Description="Microsoft Visual C++ 2013 Redistributable (x64) - 12.0.30501" Hash="8BF41BA9EEF02D30635A10433817DBB6886DA5A2" ProductName="Microsoft Visual C++ 2013 Redistributable (x64) - 12.0.30501" Size="7194312" Version="12.0.30501.0" />
				<ExitCode Value="1638" Behavior="success"/> <!-- Don't fail if newer version is installed -->
			</ExePackage>
			
			<MsiPackage SourceFile="..\..\..\output\installer\HearThis.msi"/>
		</Chain>
	</Bundle>

</Wix>
